@use "./base.scss";

// put your custom CSS here!

.wiki-img {
  width: 300px !important;
  height: 300px !important;
  object-fit: contain !important;
  background-color: #111;
  padding: 8px;
  border-radius: 8px;
}